meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge"]
title Trestle

meta[name="description" content=""]
meta[name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"]

- if site_id = ENV['GOOGLE_ANALYTICS_SITE_ID']
  meta[name='google-analytics-site-id' content="#{site_id}"]

= stylesheet_link_tag 'application'
= csrf_meta_tags

link[href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css']
link[href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css']