html, body {
  font-family: $body-font;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
  font-weight: normal
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: darken($accent-color, 10%);
  }
}

h1 {
  letter-spacing: 1px;
}

h1.page-header {
  border-bottom: none;
}

h1 a.btn {
  font-family: $body-font;
  color: #424242;
}

.btn.btn-default {
  color: $accent-color;
}

table.scaffold-table {
  @extend .table;
  @extend .table-striped;

  td:last-child {
    text-align: right;
    a {
      margin-left: 10px;
    }
  }
}

.center-content {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
}

.errors {
  @extend .alert;
  @extend .alert-warning;

  ul {
    list-style: none;
    padding-left: 0;
  }
}