#browser-upgrade {
  text-align: center;
  background-color: $danger-color;
  color: white;
  padding: 8px 0;
  font-size: 13px;
  letter-spacing: 0.5px;

  a {
    color: white;
    font-weight: bold;
  }
}